.root{
    -fx-font-size: 9pt;
    -fx-font-family: "Monospace";
}
#packetPanel {
    -fx-font-size: 9pt;
    -fx-font-family: "Monospace";
}
#analysisPanel {
    -fx-font-size: 10pt;
    -fx-font-family: "Monospace";
}